# Maven
/target/

# Logs
*.log

# IDE files
.idea/
*.iml
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Test reports
surefire-reports/

# Maven wrapper
.mvn/timing.properties

# Others
*.swp

